# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Genvira
logo: "assets/branding/logo.svg"
logo_aspect_ratio: "236 / 77"
description: >- # this means to ignore newlines until "baseurl:"
  We build innovative viral based biotherapeutics
minimal_mistakes_skin: genvira
breadcrumbs: true
search: true
lunr:
  search_within_pages: true
locale: en-CA

footer_scripts:
  - "/assets/js/main-custom.js"

# Contact information
contact:
  email: info@genvira.com
  phone: +1 (613) 695-4718
  address:
    line_1: 310 Hunt Club Rd, Suite 304
    city: Ottawa
    region: Ontario
    post_code: K1V 1C1
    country: Canada

atom_feed:
  # Hide feed
  hide: true

# Build settings
markdown: kramdown
theme: minimal-mistakes-jekyll
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: America/Toronto # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-minifier

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/company/genvira-biosciences"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      show_date: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
  # _products
  - scope:
      path: ""
      type: products
    values:
      layout: single

collections:
  products:
    output: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

uncss:
  stylesheets:            # a list of stylesheets to be processed; mandatory
    - assets/css/main.css
  files:                  # html files to consider, globs are supported; default: **/*.html
    - "*.html"
    - "**/*.html"
  compress: true          # compress resulting css with sass; default: false
  ignore:                 # always keep rules for these selectors; default: none
    - ".show-modal"         # Styling for modal backdrop (shown)
    - ".is--hidden"         # Hide the page content when searching
    - ".search-content.is--visible"     # When the search is visible
    - ".search-content .archive__item"  # Search items width
  media:                  # additional media queries to consider; default: undefined
    - print
  timeout: 100            # how long to wait for the JS to be loaded in milliseconds; default: undefined
  # banner: false           # should the output include a banner comment; default: undefined

jekyll-minifier:
  compress_css: false     # uncss takes care of this
  # Enable ES6 syntax
  uglifier_args:
    harmony: true


