{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% capture logo_aspect_ratio %}{{ site.logo_aspect_ratio }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
        <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" {% if
            logo_aspect_ratio %}style="aspect-ratio:{{logo_aspect_ratio}}" {% endif %} alt="{{ site.title }}"></a>
        {% endunless %}
        <{% if site.masthead_title or logo_path==empty or site.subtitle %}a{% else %}div{% endif %} class="site-title"
          href="{{ '/' | relative_url }}">
          {% if site.masthead_title or logo_path == empty %}
          {{ site.masthead_title | default: site.title }}
          {% endif %}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </{% if site.masthead_title or logo_path==empty or site.subtitle %}a{% else %}div{% endif %}>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
          <li class="masthead__menu-item {% if link.sub %}dropdown{% endif %}">
            <a {% if link.sub %}class="dropdown-trigger" {% endif %} href="{{ link.url | relative_url }}" {% if
              link.description %} title="{{ link.description }}" {% endif %} {% if link.target %}
              target="{{ link.target }}" {% endif %}>{{ link.title }}</a>
            {% if link.sub %}<div class="dropdown-content">
              {%- for sublink in link.sub -%}
              <a href="{{sublink.url}}">{{sublink.title}}</a>
              {%-endfor-%}
            </div>{% endif %}
          </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search"
            }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>