
$small-size: 5rem;
$medium-size: 8rem;

/* Square image */
.feature-row__square-image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Smaller images in feature row */
.feature-row__small-image .archive__item-teaser {
  text-align: center;
}
.feature-row__small-image img {
  max-height: $small-size;
}
/* Medium sized images */
.feature-row__medium-image .archive__item-teaser {
  text-align: center;
}
.feature-row__medium-image img {
  max-height: $medium-size;
}

/* Small and square image */
.feature-row__small-image.feature-row__square-image img {
  max-height: $small-size;
  max-width: $small-size;
}
/* Medium and square image */
.feature-row__medium-image.feature-row__square-image img {
  max-height: $medium-size;
  max-width: $medium-size;
}
