$small-size: 5rem;
$medium-size: 8rem;

/* Square image */
.feature-row__square-image {
  img,
  svg,
  picture {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

/* Smaller images in feature row */
.feature-row__small-image .archive__item-teaser {
  text-align: center;
}
.feature-row__small-image {
  img,
  svg,
  picture {
    max-height: $small-size;
    width: initial;
  }
}
/* Medium sized images */
.feature-row__medium-image .archive__item-teaser {
  text-align: center;
}
.feature-row__medium-image {
  img,
  svg,
  picture {
    max-height: $medium-size;
    width: initial;
  }
}

/* Small and square image */
.feature-row__small-image.feature-row__square-image {
  img,
  svg,
  picture {
    height: $small-size;
  }
}
/* Medium and square image */
.feature-row__medium-image.feature-row__square-image {
  img,
  svg,
  picture {
    height: $medium-size;
  }
}
