.force-flex {
  display: flex !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  row-gap: 1rem;
}
.flex-row.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
  row-gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.flex-column.flex-reverse {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/*
 * Flex justify-content options
 */
.flex-justify-center {
  justify-content: center;
}
.flex-justify-flex-start {
  justify-content: flex-start;
}
.flex-justify-flex-end {
  justify-content: flex-end;
}
.flex-justify-space-around {
  justify-content: space-around;
}
.flex-justify-space-between {
  justify-content: space-between;
}
.flex-justify-space-evenly {
  justify-content: space-evenly;
}

