/* Fixes and style for modals */

/*
 * Hide modal container
 * Hide .show-modal::before that was set in utilities
 */
.modal-container,
.show-modal::before {
  display: none;
}

.show-modal {
  display: flex;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  /* To show above the masthead */
  z-index: 25;
}

.modal {
  position: relative;
  display: initial;

  top: initial;
  inset-inline-start: initial;
  margin-inline-start: initial;
  margin-top: initial;
  margin: auto;

  width: 30rem;
  max-width: 90%;

  max-height: 90%;

  padding: 2rem 2rem 3rem;
  overflow-y: auto;

  background: $code-background-color;
}

/*
 * Prevent scrolling when modal is showing
 * =======================================
 */
/* uncss: ignore */
html:has(.show-modal) {
  /* Note: Scrollbar disappearing can cause reflow */
  overflow: hidden;
}
