---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* @import "test"; */

@import "tweaks";

@import "dropdown";
@import "flex";
@import "feature-row";
@import "image-with-text";
@import "img";
@import "modal";
