---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Smaller images in feature row */
.feature-row__small-image .archive__item-teaser {
  text-align: center;
}
.feature-row__small-image img {
  max-height: 5rem;
}

.image-with-text {
  display: flex;
  flex-direction: row;

  column-gap: 2rem;
}
.image-with-text.reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 749px) {
  .image-with-text {
    flex-direction: column
  }
  .image-with-text.reverse {
    flex-direction: column
  }
}
.image-with-text>div {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 50%;
}
