/* ==========================================================================
   Genvira skin
   ========================================================================== */

$color-space: oklab !default;

/*
 * Colors
 * ====================================
 */

/* Brand colors */
$blue: #00afef;
$green: #00a859;
$red: #ec3438;
$orange: #f69734;
$purple: #3e4095;
$pink: #eb288f;

/* Theme base colors */
$light-0: mix(#fff, $blue, 98%);
$light-1: mix(#eeeeee, $blue, 98%);
$light-2: mix(#ddd, $blue, 98%);

$dark-0: mix(#1f1f1f, $blue, 98%);
$dark-1: mix(#222222, $blue, 98%);
$dark-2: mix(#404040, $blue, 98%);

:root {
  --gv-background-color: #{$light-1};
  --gv-form-background-color: #{$light-0};
  --gv-code-background-color: #{$light-2};
  --gv-text-color: #{$dark-1};
  --gv-muted-text-color: #{$dark-2};
  --gv-border-color: #{mix($light-2, $dark-2, 75%)};
  --gv-link-color: #{$dark-2};
}

@media (prefers-color-scheme: dark) {
  :root {
    --gv-background-color: #{$dark-1};
    --gv-form-background-color: #{$dark-0};
    --gv-code-background-color: #{$dark-2};
    --gv-text-color: #{$light-1};
    --gv-muted-text-color: #{$light-2};
    --gv-border-color: #{mix($light-2, $dark-2, 25%)};
    --gv-link-color: #{$light-2};
  }
}

/* Colors */
$background-color: var(--gv-background-color);
$form-background-color: var(--gv-form-background-color);
$code-background-color: var(--gv-code-background-color);
$text-color: var(--gv-text-color);
$muted-text-color: var(--gv-muted-text-color);
$primary-color: $blue;
$border-color: var(--gv-border-color);
$footer-background-color: mix($dark-2, $primary-color, 75%);
$link-color: var(--gv-link-color);
$masthead-link-color: $text-color;
$masthead-link-color-hover: $text-color;
$navicon-link-color-hover: color-mix(
  in $color-space,
  $light-2,
  $text-color,
  80%
);

.page__footer {
  color: $light-2 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/*
 * Typography
 * ====================================
 */

/* System typefaces */
$sans-serif:
  "Atkinson Hyperlegible",
  -apple-system,
  BlinkMacSystemFont,
  "Roboto",
  "Segoe UI",
  "Helvetica Neue",
  "Lucida Grande",
  Arial,
  sans-serif;

/* Sans-serif typefaces */
/* Not provided: Not free */
$century-gothic: "Century Gothic", "Levenim MT", $sans-serif;

$header-font-family: $century-gothic;
